form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.register:hover{
    color: #C01BC1;
}

h2 {
    text-align: center;
    font-size: 36px;
    animation-delay: 0.2s;
}

input {
    padding: 10px;
    width: 350px;
    height: 20px;
    margin: 10px 0;
    border-radius: 30px;
    border: 1px solid #241D2F;
}

.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 42px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #C01BC1;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 30px;
    animation-delay: 0.4s;
}

.login_button:hover {
    transform: scale(1.05);
}


.login_button:focus {
    outline: none;
}

button:hover {
    background-color: #C01BC1;
}

p {
    text-align: center;
}

a {
    color: #C01BC1;
}

a:hover {
    text-decoration: none;
}

.return-btn-container {
  margin-top: 20px;
  text-align: center;
}

.return-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-color: #C01BC1;
  border-width: 3px;
  border-style: outset;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.return-btn:hover {
  transform: scale(1.05);
}

.return-btn:focus {
  outline: none;
}

.animate-from-top {
  opacity: 0;
  transform: translateY(-30px);
  animation: slideInFromTop 1s ease-out forwards;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
