.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #140C1F;
}

#login {
  color: #C01BC1;
  background-color: transparent;
  border-color: #241D2F;
  border-width: 3px;
  border-style: solid;
}

#register {
  color: #241D2F;
  background-color: #C01BC1;
}

.start-page h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
}

.start-btn {
  width: 575px;
  height: 39px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  transition: transform 0.3s ease;
}

.start-btn:hover {
  transform: scale(1.05);
}

.start-btn:focus {
  outline: none;
}


.animate-from-top {
  opacity: 0;
  transform: translateY(-30px);
  animation: slideInFromTop 1s ease-out forwards;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.start-btn {
  animation-delay: 0.5s;
}

.welcome-text {
  animation-delay: 0.2s;
}
