@font-face {
  font-family: Lexend_Regular;
  src: url('../assets/fonts/Lexend-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lexend_Bold;
  src: url('../assets/fonts/Lexend-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

.welcome {
  font-family: 'Lexend_Bold', serif;
}

body {
  background-color: #140C1F;
  color: white;
}

.return-btn-container {
  margin-top: 20px;
  text-align: center;
}

.return-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-color: #C01BC1;
  border-width: 3px;
  border-style: outset;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.return-btn:hover {
  transform: scale(1.05);  /* Hover effect to scale */
}

.return-btn:focus {
  outline: none;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #140C1F;
}

#login {
  color: #C01BC1;
  background-color: transparent;
  border-color: #241D2F;
  border-width: 3px;
  border-style: solid;
}

#register {
  color: #241D2F;
  background-color: #C01BC1;
}

.start-page h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
}

.start-btn {
  width: 575px;
  height: 39px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  transition: transform 0.3s ease;
}

/* Hover effect for buttons */
.start-btn:hover {
  transform: scale(1.05); /* Scale on hover */
}

.start-btn:focus {
  outline: none;
}

/* Animation for slide-in effect on page load */
.animate-from-top {
  opacity: 0;  /* Initial state */
  transform: translateY(-30px); /* Start above the screen */
  animation: slideInFromTop 1s ease-out forwards; /* Slide-in animation */
}

/* Keyframes for slide-in animation */
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}

/* Optional: Adjust delays for individual elements */
.start-btn {
  animation-delay: 0.5s; /* Delay the button animation */
}

.welcome-text {
  animation-delay: 0.2s; /* Delay the welcome text animation */
}
