#google-signin-button {
    animation-delay: 0.2s;
}

.animate-from-top {
  opacity: 0;
  transform: translateY(-30px);
  animation: slideInFromTop 1s ease-out forwards;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
